.choreoContainer {
    display: grid;
    grid-template-columns: 23% 1fr 23%;

    &__image {
        > img {
            height: 325px;
            width: 100%;
            position: relative;
            object-fit: cover;
        }

        &--noureev {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    } 
    

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 15px;

        p {
            width: 60%;
        }
    }
}

@media screen and (max-width: 1080px) {
    .choreoContainer {
        grid-template-columns: 25% 1fr 25%;
    
        &__image {
            > img {
                height: 250px;
            }
        } 
    
        &__text {
            p {
                width: 75%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .choreoContainer {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    
        &__image {
            > img {
                max-width: 200px;
            }
        } 
    
        &__text {
            p {
                width: 100%;
                max-width: 300px;
            }
        }
    }
}