.colorContainer {
    &__text {
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        & > p {
            width: 80%;
        }
    }
    
    &__video {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
}