.composerContainer {
    display: flex;

    &__image > img {
          
            height: 400px;
            object-fit: cover;
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;

        & > p {
            width: 60%;
        }
    }
}

.scoresContainer {
    height: 300px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-end;

    &__score {
        position: absolute;
        right: 0;
        &--score1 {
            z-index: 40;
            // transform: translateX(-500px) rotate(-20deg);
        }
        &--score2 {
            z-index: 30;
            // transform: translate(-300px,-20px);
        }
        &--score3 {
            z-index: 20;
            // transform: translateX(-150px) rotate(20deg);
        }
        &--score4 {
            z-index: 10;
            // transform: rotate(5deg);
        }
    }

}