$animationSpeed: 100s;
$widthGrid: 315px;

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc($widthGrid * -5))}
}

.galleryContainer {
	width: 90%;
	position: relative;
	overflow:hidden;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    background: white;
    border-bottom: 3px solid #fff;

    .slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc($widthGrid * 10);
	}

    .slide {
        height: 500px;
		width: $widthGrid;
        padding: 3px;
        display: grid;
        gap: 5px;
        overflow: hidden;
        
        img {
            object-fit: cover;
        }
	}

    .grid1 {
        grid-template-areas: 
            'image1 image1 image2'
            'image3 image4 image4'
            'image5 image5 image5';

            & > .image1 {
                grid-area: image1;
                width: 190px;
                height: 155px;
            }
            & > .image2 {
                grid-area: image2;
                width: 115px;
                height: 155px;
            }
            & > .image3 {
                grid-area: image3;
                width: 100px;
                height: 165px;
            }
            & > .image4 {
                grid-area: image4;
                width: 200px;
                height: 165px;
            }
            & > .image5 {
                grid-area: image5;
                width: 100%;
                height: 180px;
            }
    }

    .grid2 {
        grid-template-areas: 
            'image10 image10 image10'
            'image7 image7 image8'
            'image6 image9 image9';
        
            & > .image6 {
                grid-area: image6;
                width: 120px;
                height: 135px;
            }
            & > .image7 {
                grid-area: image7;
                width: 170px;
                height: 195px;
            }
            & > .image8 {
                grid-area: image8;
                width: 140px;
                height: 195px;
            }
            & > .image9 {
                grid-area: image9;
                width: 185px;
                height: 135px;                
            }
            & > .image10 {
                grid-area: image10;
                width: 100%;
                height: 160px;
            }
    }

    .grid3 {
        grid-template-areas: 
            'image11 image12 image12'
            'image13 image13 image13'
            'image15 image15 image14';
            
            & > .image11 {
                grid-area: image11;
                width: 130px;
                height: 190px;
            }
            & > .image12 {
                grid-area: image12;
                width: 170px;
                height: 190px;
            }
            & > .image13 {
                grid-area: image13;
                width: 100%;
                height: 150px;
            }
            & > .image14 {
                grid-area: image14;
                width: 150px;
                height: 175px;
            }
            & > .image15 {
                grid-area: image15;
                width: 150px;
                height: 150px;
            }
    }

    .grid4 {
        grid-template-areas: 
            'image20 image20 image20'
            'image19 image17 image17'
            'image19 image18 image18'
            'image16 image16 image16';
            
            & > .image16 {
                grid-area: image16;
                width: 100%;
                height: 150px;
            }
            & > .image17 {
                grid-area: image17;
                width: 185px;
                height: 100px;
                
            }
            & > .image18 {
                grid-area: image18;
                width: 185px;
                height: 75px;
            }
            & > .image19 {
                grid-area: image19;
                width: 120px;
                height: 180px;
            }
            & > .image20 {
                grid-area: image20;
                width: 100%;
                height: 180px;
               
            }
    }

    .grid5 {
        grid-template-areas: 
            'image21 image21 image22'
            'image24 image24 image24'
            'image23 image23 image25';
            
            & > .image21 {
                grid-area: image21;
                width: 180px;
                height: 140px;
            }
            & > .image22 {
                grid-area: image22;
                width: 120px;
                height: 140px;
                
            }
            & > .image24 {
                grid-area: image24;
                width: 100%;
                height: 175px;
            }
            & > .image23 {
                grid-area: image23;
                width: 180px;
                height: 180px;
            }
            & > .image25 {
                grid-area: image25;
                width: 120px;
                height: 180px;
               
            }
    }

}