.headerContainer {
    height: 100vh;
    width: 100%;
    margin-bottom: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__background {
        object-fit: cover;
        
        &--dansers {
            height: 400px;
            width: 100%;
            position: absolute;
            top: 100px;
            z-index: 10;
        }
        &--floor {
            height: 300px;
            width: 100%;
            position: absolute;
            top: 500px;
            z-index: 20;
        }
    }

    &__title {
        padding: 0 5px;
        font-size: 130px;
        position: absolute;
        bottom: -25px;
        text-shadow: 1px 1px 0px #101010;
        text-transform: uppercase;
        z-index: 30;

        @media screen and (max-width: 1080px) {
            font-size: 100px;
        }
    }
}