.nikiyaContainer {
    &__text {
        display: flex;
        justify-content: left;
        align-items: center;
        @media screen and (max-width: 768px) {
           justify-content: center;
        }
        
        & > p {
            padding: 0 25px;
            width: 47%;
            @media screen and (max-width: 768px) {
                width: 100%;
                max-width: 350px;
            }
        }

        &--end {
            justify-content: right;
             @media screen and (max-width: 768px) {
                justify-content: center;
            }
        }
    }

    &__videos {
        height: 150px;
        position: relative;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            height: 400px;
            margin: 5px 0;
        }
        
        & > video {
            position: absolute;
            width: 400px;
            @media screen and (max-width: 1080px) {
                width: 350px;
            }
        }

        &--ballet {
            bottom: 65px;
            left: 50%;
            @media screen and (max-width: 768px) {
                left: 0;
                bottom: 0;
            }
        }

        &--training {
            top: 65px;
            right: 50%;
            @media screen and (max-width: 768px) {
                right: 0;
                top: 0;
            }
        }
    }
}