.nikiyaContainer {
    &__text {
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        & > p {
            width: 50%;
        }
    }

    &__videos {
        display: flex;
        justify-content: space-between;

        & > video {
            width: 400px;
        }
    }
}