.boxParallax {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__background {
        object-fit: cover;
        
        &--dansers {
            position: relative;
            z-index: 10;
        }
        &--floor {
            position: relative;
            z-index: 20;
        }
    }

    &__title {
        padding: 0 5px;
        font-size: 148px;
        position: absolute;
        top: 316px;
        text-shadow: 2px 2px 0px #111;
        text-transform: uppercase;
        // background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
        // backdrop-filter: blur(10px) brightness(50%); 
        z-index: 30;
        font-family: Raleway, Poppins;
    }
}