.boxParallax {
    height: 100vh;
    width: 100%;
    margin-bottom: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__background {
        object-fit: cover;
        
        &--dansers {
            position: absolute;
            bottom: 80px;
            z-index: 10;
        }
        &--floor {
            position: relative;
            z-index: 20;
        }
    }

    &__title {
        padding: 0 5px;
        font-size: 140px;
        position: absolute;
        bottom: 0;
        text-shadow: 1px 1px 0px #101010;
        text-transform: uppercase;
        // background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
        // backdrop-filter: blur(10px) brightness(50%); 
        z-index: 30;
    }
}